<nav class="d-flex p-3 align-items-center justify-content-between bg-light">
    <h5>Advisory Hub</h5>
    <div class="d-flex">
        <h6 class="mx-2"><i class="fa-regular fa-bookmark "></i> Info Hub</h6>
        <h6 class="mx-2"><i class="fa-regular fa-calendar "></i> Calculator</h6>
        <h6 class="mx-2"><i class="fa-regular fa-address-card "></i> Contact Us</h6>
        <% if (user) { %>
            <a href="/logout" class="text-decoration-none text-dark"><h6 class="ms-1"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</h6></a>
        <% } %>
    </div>
</nav>