<%- include('./partials/header.ejs') %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-6 col-12 mt-5">
        <h1 class="fw-bold">Login</h1>
        <form action="/login" method="POST">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" required>
          </div>
          <% if (message) { %>
           <p class="text-danger">
            <%= message %>
          </p>
          <% } %>
          

          <button type="submit" class="btn btn-primary">Submit</button>
          <h6 class="mt-2 text-center">Not have an accout? 
            <a href="/signup"> SignUp</a>
          </h6>
        </form>
      </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>